In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('DelhiHousePrice.csv')

In [3]:
data.head()

,Area,BHK,Bathroom,Furnishing,Locality,Parking,Price,Status,Transaction,Type,Per_Sqft
0,800.0,3,2.0,Semi-Furnished,Rohini Sector 25,1.0,6500000,Ready_to_move,New_Property,Builder_Floor,NaN
1,750.0,2,2.0,Semi-Furnished,"J R Designers Floors, Rohini Sector 24",1.0,5000000,Ready_to_move,New_Property,Apartment,6667.0
2,950.0,2,2.0,Furnished,"Citizen Apartment, Rohini Sector 13",1.0,15500000,Ready_to_move,Resale,Apartment,6667.0
3,600.0,2,2.0,Semi-Furnished,Rohini Sector 24,1.0,4200000,Ready_to_move,Resale,Builder_Floor,6667.0
4,650.0,2,2.0,Semi-Furnished,Rohini Sector 24 carpet area 650 sqft status R...,1.0,6200000,Ready_to_move,New_Property,Builder_Floor,6667.0

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1259 entries, 0 to 1258
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Area         1259 non-null   float64
 1   BHK          1259 non-null   int64
 2   Bathroom     1257 non-null   float64
 3   Furnishing   1254 non-null   object
 4   Locality     1259 non-null   object
 5   Parking      1226 non-null   float64
 6   Price        1259 non-null   int64
 7   Status       1259 non-null   object
 8   Transaction  1259 non-null   object
 9   Type         1254 non-null   object
 10  Per_Sqft     1018 non-null   float64
dtypes: float64(4), int64(2), object(5)
memory usage: 108.3+ KB

In [5]:
data.isna().sum()

Area             0
BHK              0
Bathroom         2
Furnishing       5
Locality         0
Parking         33
Price            0
Status           0
Transaction      0
Type             5
Per_Sqft       241
dtype: int64

In [6]:
df1=data.drop(['Furnishing','Status','Parking','Transaction','Type','Per_Sqft'],axis='columns')

In [7]:
df1

,Area,BHK,Bathroom,Locality,Price
0,800.0,3,2.0,Rohini Sector 25,6500000
1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000
2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000
3,600.0,2,2.0,Rohini Sector 24,4200000
4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000
...,...,...,...,...,...
1254,4118.0,4,5.0,Chittaranjan Park,55000000
1255,1050.0,3,2.0,Chittaranjan Park,12500000
1256,875.0,3,3.0,Chittaranjan Park,17500000
1257,990.0,2,2.0,Chittaranjan Park Block A,11500000
1258,11050.0,3,3.0,Chittaranjan Park,18500000

In [8]:
df1.isna().sum()

Area        0
BHK         0
Bathroom    2
Locality    0
Price       0
dtype: int64

In [9]:
df1=df1.dropna()
df1.isnull().sum()

Area        0
BHK         0
Bathroom    0
Locality    0
Price       0
dtype: int64

In [10]:
df1.shape

(1257, 5)

In [11]:
df1.to_csv('Cleaned_data.csv')

In [12]:
df1=pd.read_csv("Cleaned_data.csv")

In [13]:
df1['BHK'].unique()

array([ 3,  2,  4,  1,  6,  5,  7, 10])

In [14]:
df1.Area.unique()

array([  800.    ,   750.    ,   950.    ,   600.    ,   650.    ,
        1300.    ,  1350.    ,   985.    ,  1100.    ,   870.    ,
         630.    ,   660.    ,   344.4448,   550.    ,  1150.    ,
         850.    ,   900.    ,   430.556 ,   914.9315,   500.    ,
          28.    ,  2160.    ,  1080.    ,  1450.    ,   810.    ,
        1710.    ,  1650.    ,  1280.    ,  1260.    ,  1130.    ,
        1500.    ,  1000.    ,  2925.    ,  1600.    ,  1143.    ,
        8000.    ,   890.    ,  1387.    ,  1050.    ,  1200.    ,
         700.    ,  1700.    ,  1550.    ,  1400.    ,  1900.    ,
        1850.    ,  1800.    ,  1620.    ,  1540.    ,  2300.    ,
        1560.    ,   400.    ,  1525.    ,  2200.    ,  2880.    ,
        2700.    ,  1575.    ,  1675.    ,   825.    ,   875.    ,
         450.    ,   100.    ,    75.    ,   270.    ,   444.    ,
         729.    ,  4050.    ,  2400.    ,   405.    ,   666.    ,
        1360.    ,  2170.    ,   720.    ,  1030.    ,   350.    ,
         980.    ,   445.    ,   380.    ,   680.    ,  2500.    ,
        2800.    ,   300.    ,  1295.    ,  4688.    ,  3901.    ,
         540.    ,   976.    ,  2900.    ,  5025.    ,  1135.    ,
        2306.    , 22050.    ,    45.    ,  3510.    ,  4500.    ,
        6000.    ,  4300.    ,  2450.    , 10350.    ,  4800.    ,
        3500.    ,  2100.    ,  4200.    ,  8150.    ,  2070.    ,
        2000.    ,  2550.    ,  7200.    ,  2799.    ,  2650.    ,
        1440.    ,  3150.    ,  3690.    ,  2177.    ,  2150.    ,
        2107.    ,  1240.    ,  3000.    ,   970.    ,  1425.    ,
         440.    ,  1017.    ,   990.    ,   675.    ,   558.    ,
         360.    ,   846.    ,   495.1394,  1053.    ,   747.    ,
         376.7365,  1125.    ,   713.    ,   504.    ,    70.    ,
        2430.    ,  2475.    ,  2970.    ,  2250.    ,  1512.    ,
         324.    ,   801.    ,   420.    ,   387.    ,   441.    ,
         715.    ,   312.    ,   780.    ,   495.    ,   620.    ,
         805.    ,  1001.    ,   585.    ,   765.    ,  1680.    ,
        1530.    ,   140.    ,   200.    ,  1782.    ,    66.    ,
        1075.    ,  1750.    ,  1184.    ,  1250.    ,    65.    ,
        2210.    ,   760.    ,   904.1676,    50.    ,    58.    ,
         852.    ,  2600.    ,  2050.    ,  1674.    ,  2025.    ,
       24300.    ,  2035.    ,   150.    ,  3250.    ,  4000.    ,
        5500.    ,   972.    ,  4150.    ,  2610.    ,   880.    ,
        1078.    ,  1818.    ,   807.2925,  2152.78  ,   960.    ,
         378.    ,  1580.    ,   820.    ,   594.    , 14220.    ,
        1470.    ,  1480.    ,  1214.    ,  1380.    ,  1585.    ,
        3050.    ,  3405.    ,  2105.    ,  2090.    ,  2525.    ,
        2022.    ,  2552.    ,  3112.    ,  2125.    ,  2065.    ,
        1455.    ,  3400.    ,  3100.    ,  2126.    ,  1815.    ,
         968.751 ,  1320.    ,  3600.    ,  1305.    ,  1175.    ,
         725.    ,  1035.    ,   580.    ,  1170.    ,   855.    ,
        1044.0983,   173.    ,   527.    ,   770.    ,   710.    ,
         945.    ,   565.    ,   430.    ,   459.    ,   559.7228,
         365.    ,   390.    ,   210.    ,   379.    ,   236.8058,
         452.0838,   437.    ,    61.    ,   198.    ,  4900.    ,
        2077.4327,   425.    ,  2750.    ,  2316.    ,  1290.    ,
        1076.39  ,   460.    ,   370.    ,   975.    ,  1459.    ,
        1460.    ,   979.5149,  1531.    ,    35.    ,  2907.    ,
        2518.7526,   588.    ,  1775.    ,  1252.    ,   530.    ,
        1332.    ,   987.    ,  1912.    ,  5236.    ,  2805.    ,
         576.    ,  1206.    ,   345.    ,   468.    ,   535.    ,
        1501.    ,  3002.    ,  1429.    ,  1646.    ,  1590.    ,
        2282.    ,  1457.    ,  2175.    ,   861.112 ,  1753.    ,
        2659.    ,   702.    ,  1138.    ,  1291.668 ,  2592.    ,
        1640.    ,  2572.    ,  2445.    ,  5220.    ,  4455.    ,
         195.    , 17010.    ,  2340.    ,   464.    ,   954.    ,
        1155.    ,  1485.    ,  1070.    ,  2520.    ,  2066.    ,
        6500.    ,  4350.    ,  1980.    ,  5400.    ,  2097.    ,
        1116.    ,  2625.    ,   125.    ,  4118.    , 11050.    ])

In [15]:
df1['Price_per_sqft']=df1['Price']/df1['Area']
df1.head()

,Unnamed: 0,Area,BHK,Bathroom,Locality,Price,Price_per_sqft
0,0,800.0,3,2.0,Rohini Sector 25,6500000,8125.000000
1,1,750.0,2,2.0,"J R Designers Floors, Rohini Sector 24",5000000,6666.666667
2,2,950.0,2,2.0,"Citizen Apartment, Rohini Sector 13",15500000,16315.789474
3,3,600.0,2,2.0,Rohini Sector 24,4200000,7000.000000
4,4,650.0,2,2.0,Rohini Sector 24 carpet area 650 sqft status R...,6200000,9538.461538

In [16]:
len(df1.Locality.unique())

365

In [17]:
df1.Locality=df1.Locality.apply(lambda x: x.strip())
location_stats=df1.groupby('Locality')['Locality'].agg('count').sort_values(ascending=False)
location_stats

Locality
Lajpat Nagar 3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 34
Lajpat Nagar 2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 31
J R Designers Floors, Rohini Sector 24                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         31
Kailash Colony, Greater Kailash                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                30
Yamuna Vihar, Shahdara                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         29
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ..
Laxmi Nagar super area 450 sqft status Ready to Move floor 3 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property East Facing Property This Builder Floor Apartment at 3rd faces East & overlooks Main Road offering a beautiful view from the house. with airy interiors. The type of ownership is Freehold. The Builder Floor Apartment is newly constructed. Bank loans available from LIC Housing Finance, Kotak Mahindra Bank, Indiabulls. Flooring of type Marble covers maximum part of the house. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Sonia     1
Mahavir Enclave Part 1 carpet area 1000 sqft status Ready to Move floor 2 out of 4 floors transaction Resale furnishing Semi-Furnished facing East car parking 1 Covered bathroom 2 balcony 2 East Facing Property this property is for sale purpose.......................... Contact Owner View Phone No. Share Feedback Owner Twinkle Sudan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                  1
Mahesh Apartment, Vasundhara Enclave                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1
Malviya Nagar carpet area 100 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing North overlooking Garden/Park, Main Road car parking 2 Open bathroom 3 balcony 2 ownership Freehold It's a Corner three story building, located in South Delhi. Amenities like Market, Schools, Hospitals, Parks, Gyms, Study Centers, Temple are all around. Very Close to Malviya Nagar Metro and Haus Khas Metro Station. Centerlize place to live. Whether you go to Gurgaon or Noida Or to other parts of the city, commuting from here is very easy. read more Contact Owner View Phone No. Share Feedback Owner Rohit                                                                                                                                                                               1
mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          1
Name: Locality, Length: 365, dtype: int64

In [18]:
len(location_stats[location_stats<=2])

254

In [19]:
location_lessthan2=location_stats[location_stats<=2]
location_lessthan2

Locality
Janakpuri Block A3                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             2
Project Commonwealth Games Village 2010, Akshardham Temple                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                     2
Jyoti Colony, Shahdara                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         2
JVTS Gardens, Chhattarpur                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                      2
SB Residency, Dwarka Mor                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       2
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              ..
Laxmi Nagar super area 450 sqft status Ready to Move floor 3 out of 4 floors transaction New Property furnishing Semi-Furnished facing East overlooking Main Road bathroom 2 balcony 1 ownership Freehold Newly Constructed Property East Facing Property This Builder Floor Apartment at 3rd faces East & overlooks Main Road offering a beautiful view from the house. with airy interiors. The type of ownership is Freehold. The Builder Floor Apartment is newly constructed. Bank loans available from LIC Housing Finance, Kotak Mahindra Bank, Indiabulls. Flooring of type Marble covers maximum part of the house. The location has easy access to, Dena Bank (0 km ), Delhi Convent School (0 km ), DDA Market (0 km ) and Nirman Vihar Metro Station (2 km ). read more Contact Owner View Phone No. Share Feedback Owner Sonia    1
Mahavir Enclave Part 1 carpet area 1000 sqft status Ready to Move floor 2 out of 4 floors transaction Resale furnishing Semi-Furnished facing East car parking 1 Covered bathroom 2 balcony 2 East Facing Property this property is for sale purpose.......................... Contact Owner View Phone No. Share Feedback Owner Twinkle Sudan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                 1
Mahesh Apartment, Vasundhara Enclave                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           1
Malviya Nagar carpet area 100 sqyrd status Ready to Move floor 2 out of 3 floors transaction Resale furnishing Semi-Furnished facing North overlooking Garden/Park, Main Road car parking 2 Open bathroom 3 balcony 2 ownership Freehold It's a Corner three story building, located in South Delhi. Amenities like Market, Schools, Hospitals, Parks, Gyms, Study Centers, Temple are all around. Very Close to Malviya Nagar Metro and Haus Khas Metro Station. Centerlize place to live. Whether you go to Gurgaon or Noida Or to other parts of the city, commuting from here is very easy. read more Contact Owner View Phone No. Share Feedback Owner Rohit                                                                                                                                                                              1
mind. The space is airy, is well located and can be easily customized as per the needs. Prime facilities are easily accessible from this place with Government Girls Senior Secondary School No 2 (0 km ). Other key neighbourhood are B Block Market (0 km ). read more Contact Owner View Phone No. Share Feedback Owner vinod kumar                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                         1
Name: Locality, Length: 254, dtype: int64

In [20]:
df1.Locality=df1.Locality.apply(lambda x: 'other' if x in location_lessthan2 else x)
len(df1.Locality.unique())

112

In [21]:
df1.head()
df1.to_csv('Cleaned_data.csv')

In [22]:
df1[df1.Area/df1.BHK<300].head()

,Unnamed: 0,Area,BHK,Bathroom,Locality,Price,Price_per_sqft
0,0,800.0000,3,2.0,Rohini Sector 25,6500000,8125.000000
11,11,870.0000,3,2.0,Rohini Sector 25,7700000,8850.574713
14,14,344.4448,2,2.0,other,3310000,9609.667500
16,16,550.0000,2,2.0,Rohini Sector 22,4500000,8181.818182
17,17,1100.0000,4,3.0,other,17000000,15454.545455

In [23]:
df1.shape

(1257, 7)

In [24]:
df2=df1[~(df1.Area/df1.BHK<300)]
df2.shape

(1081, 7)

In [25]:
df2.Price_per_sqft.describe()

count     1081.000000
mean     13340.477127
std       7469.149283
min        204.081633
25%       7448.979592
50%      12222.222222
75%      17647.058824
max      48611.111111
Name: Price_per_sqft, dtype: float64

In [26]:
def remove_pps_outliers(df):
    df_out = pd.DataFrame()
    for key, subdf in df.groupby('Locality'):
        m = np.mean(subdf.Price_per_sqft)
        st = np.std(subdf.Price_per_sqft)
        reduced_df = subdf[(subdf.Price_per_sqft>(m-st)) & (subdf.Price_per_sqft<=(m+st))]
        df_out = pd.concat([df_out,reduced_df],ignore_index=True)
    return df_out
df3 = remove_pps_outliers(df2)
df3.shape

(715, 7)

In [27]:
df3.Bathroom.unique()

array([2., 3., 1., 4., 5., 6., 7.])

In [28]:
df3[df3.Bathroom>df3.BHK+2]

,Unnamed: 0,Area,BHK,Bathroom,Locality,Price,Price_per_sqft
274,248,10350.0,4,7.0,"Maharani Bagh, New Friends Colony",160000000,15458.937198

In [29]:
df4 = df3.drop(['Unnamed: 0','Price_per_sqft'],axis='columns')
df4.head(3)

     Area  BHK  Bathroom                  Locality     Price
0  1470.0    3       2.0  Aashirwaad Chowk, Dwarka  14500000
1  1500.0    3       2.0  Aashirwaad Chowk, Dwarka  14900000
2  1700.0    3       3.0  Aashirwaad Chowk, Dwarka  17200000

In [30]:
dummies = pd.get_dummies(df4.Locality)
dummies.head(3)

,"Aashirwaad Chowk, Dwarka","Abul Fazal Enclave Part-II, Okhla",Alaknanda,"Andheria Mor, Mehrauli","Aravali Apartments, Alaknanda","Arjun Nagar, Safdarjung Enclave","Bank Apartments, Aashirwaad Chowk, Dwarka",Budh Vihar,Budh Vihar Phase 1,Chhattarpur,...,Sultanpur Extension,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasant Kunj Sector C,Vasundhara Enclave,"Vikram Vihar, Lajpat Nagar","Yamuna Vihar, Shahdara",other
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [31]:
df5 = pd.concat([df4,dummies.drop('other',axis='columns')],axis='columns')
df5.head()

,Area,BHK,Bathroom,Locality,Price,"Aashirwaad Chowk, Dwarka","Abul Fazal Enclave Part-II, Okhla",Alaknanda,"Andheria Mor, Mehrauli","Aravali Apartments, Alaknanda",...,Sultanpur,Sultanpur Extension,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasant Kunj Sector C,Vasundhara Enclave,"Vikram Vihar, Lajpat Nagar","Yamuna Vihar, Shahdara"
0,1470.0,3,2.0,"Aashirwaad Chowk, Dwarka",14500000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1500.0,3,2.0,"Aashirwaad Chowk, Dwarka",14900000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1700.0,3,3.0,"Aashirwaad Chowk, Dwarka",17200000,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,750.0,2,2.0,"Abul Fazal Enclave Part-II, Okhla",3800000,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1500.0,3,3.0,Alaknanda,26500000,False,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [32]:
df6 = df5.drop('Locality',axis='columns')
df6.head(2)

,Area,BHK,Bathroom,Price,"Aashirwaad Chowk, Dwarka","Abul Fazal Enclave Part-II, Okhla",Alaknanda,"Andheria Mor, Mehrauli","Aravali Apartments, Alaknanda","Arjun Nagar, Safdarjung Enclave",...,Sultanpur,Sultanpur Extension,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasant Kunj Sector C,Vasundhara Enclave,"Vikram Vihar, Lajpat Nagar","Yamuna Vihar, Shahdara"
0,1470.0,3,2.0,14500000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1500.0,3,2.0,14900000,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [33]:
df6.shape

(715, 93)

In [34]:
X = df6.drop(['Price'],axis='columns')
X.head(3)

,Area,BHK,Bathroom,"Aashirwaad Chowk, Dwarka","Abul Fazal Enclave Part-II, Okhla",Alaknanda,"Andheria Mor, Mehrauli","Aravali Apartments, Alaknanda","Arjun Nagar, Safdarjung Enclave","Bank Apartments, Aashirwaad Chowk, Dwarka",...,Sultanpur,Sultanpur Extension,"The Amaryllis, Karol Bagh","The Leela Sky Villas, Patel Nagar",Uttam Nagar,Vasant Kunj,Vasant Kunj Sector C,Vasundhara Enclave,"Vikram Vihar, Lajpat Nagar","Yamuna Vihar, Shahdara"
0,1470.0,3,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1500.0,3,2.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,1700.0,3,3.0,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [35]:
y = df6.Price
y.head(3)

0    14500000
1    14900000
2    17200000
Name: Price, dtype: int64

In [36]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=10)

In [37]:
from sklearn.linear_model import LinearRegression
from sklearn.pipeline import make_pipeline
lr_clf = LinearRegression()
pipe = make_pipeline(lr_clf)

In [38]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('linearregression', LinearRegression())])

In [39]:
y_pred_lr = pipe.predict(X_test)

In [40]:
from sklearn.metrics import r2_score
r2_score(y_test,y_pred_lr)

0.8881535389373487

In [41]:
# input = pd.DataFrame([1334, 3, 4,"Aashirwaad Chowk, Dwarka"]],columns=['Area','BHK','Bathroom','Locality'])

In [42]:
# output = pipe.predict(input)

In [43]:
import pickle
pickle.dump(pipe,open('Prediction_Model.pkl','wb'))

In [44]:
import json
columns = {
    'data_columns' : [col.lower() for col in X.columns]
}
with open("columns.json","w") as f:
    f.write(json.dumps(columns))